<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>智能云平台－前端组</title>
    <!-- 通用头 -->
    <%- include('partials/_head.html');%>
    <link rel="stylesheet" type="text/css" href="/static/css/playground.css">
    <link rel="stylesheet" type="text/css" href="/static/css/workflow.css">
</head>
<body>
    <div class="g_init"></div>
    <div class="g_container hide"></div>

    <!-- 通用js -->
    <%- include('partials/_script.html');%>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/workflow.js"></script>
<!-- 通用尾 -->
<%- include('partials/_foot.html');%>
