<!DOCTYPE html>
<html>
<head>
<title>Muplayer</title>
<!-- 通用头 -->
<% include ../_g/_head.html %>
</head>
<body>
	<h2>Muplayer</h2>
	<button id="btn1">点此播放</button>
	<button id="btn2">点此暂停</button>
	<div id="audioContainer">
	</div>
	<div class="json" id="lblShow">
	</div>
	<!-- 通用js -->
	<% include ../_g/_script.html %>

	<!-- 私有js -->
	<script type="text/javascript">

	$(function(){
		var player = null;
		$("#btn1").click(function(){

     		// 下面的比较简单的样例，更多样例和API查看请上http://labs.music.baidu.com/muplayer/doc/
			seajs.use('muplayer', function(Muplayer){
				// 初始化一个MuPlayer的实例。
			    player = new Muplayer.Player({
			        // baseDir是必填初始化参数
			        baseDir: ROCK.seaConfig.base + 'muplayer/js/0.9.2/'
			    });

			    // 通过add方法添加需要播放的音频，并调用play方法开始播放。
			    player.add('http://music.baidu.com/cms/app/muplayer/test_mp3/1.mp3').play();
			});
		});

		$("#btn2").click(function(){
			player && player.pause()
		});

	});

	</script>


<!-- 通用尾 -->
<% include ../_g/_foot.html %>