<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript">
    $Le = window.$Le = {};
    $Le.Config = {
        staticVersion:'20151106165703'
        ,staticPath:"<%= data['staticUrl'] %>"
        //请求地址
        ,api:{}
        //页面跳转地址
        ,url:{
            allRecord:'/push4/index',
            applist:'/push4/applist',//应用列表
        }
        ,language:'zh'
    };
    var staticPath = $Le.Config.staticPath + "/ro";
</script>
